/* NO LO USARE POR QUE SI LO USO NO HACE BIEN LO QUE TIENE QUE HACER
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


form {
    width: 400px;
    min-height: 800px;
    height: auto;
    border-radius: 50px;
    background: #d754c6;
    box-shadow:  5px 5px 13px #6f2a66,
                -5px -5px 13px #b946aa;
    margin: 2% auto;
    padding: 2%;
    }

form .format {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 200%;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
}
/*  A welcome message or an explanation of the login form */
header p {
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

body {
  background-image: linear-gradient(-225deg, #de70f7 0%, #FFE6FA 100%);
  background-attachment: fixed;
    background-repeat: no-repeat;
  
      font-family: 'Franklin Gothic Medium',sans-serif;
      font-family: 'Abel', sans-serif;
  opacity: .95;
  }

.input1::placeholder{
    color: #000000;
    letter-spacing: 0.1em;
    }
    .input1{
        margin: 10px;
        background: none;
        border: none;
        outline: none;
        width: 300px;
        padding: 10px 20px;
        font-size: 16px;
        font-family: 'Abel', sans-serif;
        border-radius: 99px;
        box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
        color: #000000;

      }

.input2::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input2{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }

.input3::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input3{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }

.input4::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input4{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }
.input5::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input5{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }
.input6::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input6{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }
.input7::placeholder{
color: #000000;
letter-spacing: 0.1em;
}
.input7{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }


.input8::placeholder{
color: #000000;
letter-spacing: 0.1em;
}

.input8{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }

.input9::placeholder{
color: #000000;
letter-spacing: 0.1em;
}

.input9{
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(126, 49, 111);
    color: #000000;
  }
  button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow:  5px 5px 13px #6f2a66,
                 -5px -5px 13px #b946aa;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d80fd1 0%, #FFE6FA 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }
